body{
  background :pink;
  text-align: center;
}
img{
width:25%
}
.card{
  background: lightblue;
  width=30;
  border-radius: 2em;
}
#card{
  justify-content: space-around;
  display: flex;
  margin:2%
}
.card:hover{
  box-shadow: 0 8px 8px 4px purple;
}
